$dark-green: #006f57;
$light-green: #23856d;
$dark-red: #bb010b;
$light-red: #cd1624;
$cream: #f2ecdf;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
