$dark-green: #006f57;
$light-green: #23856d;
$dark-red: #bb010b;
$light-red: #cd1624;
$cream: #f2ecdf;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media  screen and (min-width:750px) {
      @content;
    }
  }
  @mixin media-lg {
    @media  screen and (min-width:1024px) {
      @content;
    }
  }
  @mixin media-xl {
    @media  screen and (min-width:1600px) {
      @content;
    }
  }