@import "config";
@import "menu";

body{
    font-size: 1rem;
}

.content-wrap {
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 60px 0;
}

.general {
    height: 100vh;
    background-image: url(../images/annie-spratt-unsplash-red-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $cream;
}

.abbey {
    background-color: $dark-green;
}
.char {
    background-color: $light-red;
}
.chris {
    background-color: $dark-green;
}
.scott {
    background-color: $light-red;
}
/* ----- MEDIA QUERIES ----- */
@include media-md {
  .nav {
    display: grid;
    justify-content: center;
    grid-template-columns: 100px minmax(auto, 1100px);
    height: auto;

    &__toggle {
      display: none;
    }
    &__toggle--label {
      display: none;
    }
  }

  nav {
    position: initial;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li a {
        border-bottom: none;
      }
    }
  }

  nav::after,
  nav ul li:last-of-type::before {
    display: none;
    padding: initial;
  }
}
